<NeoCard class="card">
  <form [formGroup]="loginForm">
    <div style="display: flex; flex-direction: column; text-align: left">
      <NeoInput
        label="Email"
        class="input"
        type="text"
        name="identifer"
        placeholder="exemple@mail.com"
        [required]="true"
        formControlName="identifier"
        helperText="Entrez votre adresse email"
        id="identifier"
      ></NeoInput>
      <NeoInput
        label="Mot de passe"
        [required]="true"
        [formControlName]="'password'"
        type="email"
        placeholder="exemple@mail.com"
        helperText="Entrez votre mot de passe"
      >
      </NeoInput>
    </div>
    <NeoButton [disabled]="true" class="btn">Submit</NeoButton>
  </form>
</NeoCard>
<router-outlet />
